body{
    font-family: "Trebuchet MS";
    margin: 0;
}

nav{
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding: 7.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.top-left{
    display: inline-block;
    float: left;
    padding-right: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    
    
}

.top-links{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;

}

.top-links li {
    display: inline-block;
    margin: 0 10px;
  }

  .heart{
    padding-right: 20px;
}

header{
    height: 400px;
    color: white;
    background-color: rgb(32, 101, 136);
    background-image: url('/Users/juancervera/Desktop/npm-clone/images/city-scape.svg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-position-x:0;
    background-position-y:0;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}

.logo{
    width: 90px;
    height: 40px;
    padding: 0 20px;
}

.searchbar form{
    display: flex;
    flex: 1;
    height: 40px;
}

.searchbar form input{
    background-color: rgb(31, 82, 111);
    font-family: "Trebuchet MS";
    flex: 1;
    border: 0.8px solid rgba(255,255,255,0.8);
    font-size: 15px;
    
}

.searchbar form button{
    background-color: rgb(31, 82, 111);
    border: 0.8px solid rgba(255,255,255,0.8);
}

.searchbar ul{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}

.searchbar ul li {
    display: inline-block;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(255,255,255,0.8);
}

.searchbar li a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

.bear{
    width: 30px;
    background-color: none;
}



.amaz1{
    width: 800px;
    margin: 0 auto;
}

.amaz h1{
    font-weight: normal;
}

.amaz p{
    text-align: left;
    margin-right: 400px;
}
.amaz button{
    background-color:rgb(240, 146, 51);
    border-style: none;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
}

#section1{
    background-color: rgb(39, 53, 71);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }

#section1 .center1{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#section1 img{
    width:400px;
    padding-right: 30px;
}

#section1 .div1-1{
    display: inline-block;
    float: right;
}

#section1 h3{
    text-align: left;
    font-size: 25px;
    
}

#section1 ul{
    line-height: 30px;
}

#section1 li{
    text-align: left;
}

#section1 button{
    background-color:rgb(203, 56, 55);
    border-style: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    text-align: center;
}

#section1 a{
    text-decoration: none;
    color: white;
}
.span1{
    font-size: 10px;
}

#section2 {
    background-image: url('/Users/juancervera/Desktop/npm-clone/images/forklift.svg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-position-x:0;
    background-position-y:0;
    background-size: cover;
    color: white;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

#section2 .div2{
    width: 800px;
    margin: 0 auto;

}
#section2 h1{
    position: relative;
    font-weight: normal;
}
#section2 p{
    position: relative;
    width: 300px;
    
}

#section2 a{
    position: relative;
}

#section2 button{
    background-color: rgb(49, 68, 88);
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    border-style: none;
}

#section3{
    background-color: white;

}

#section3 h1{
    color:rgb(83, 88, 98);
}

#section3 p{
    color: rgb(135, 145, 156);
}
#section3 .text3{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

#section3 .container-group{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#section3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    color: rgb(135, 145, 156);
}

#section3 a{
    text-decoration: none;
    color: rgb(208, 74, 73);
}


